<h2>{{ 'TABLE_CHARACTER_PARTICIPATION' | translate }}</h2>
  <div class="container">
    <table class="container">
      <thead>
        <tr>
          <th><h1>{{ 'CHARACTER_NAME' | translate }}</h1></th>
          <th><h1>{{ 'GET_INFORMATIONS' | translate }}</h1></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters">
          <td>{{ character.name }}</td>
          <td>{{ character.episodeCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
