<h2>{{ 'TABLE_CHARACTER_EPISODES' | translate }}</h2>
  <div class="container">
    <table class="container">
      <thead>
        <tr>
          <th><h1>{{ 'CHARACTER_NAME' | translate }}</h1></th>
          <th><h1>{{ 'EPISODES' | translate }}</h1></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters">
          <td>{{ character.name }}</td>
          <td>
            <select>
              <option *ngFor="let episodeUrl of character.episodeUrls" [value]="episodeUrl">{{ episodeUrl }}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
</div>
