<h2>Tabla 1: Datos de personaje</h2>
<table class="container">
    <thead>
      <tr>
        <th>
          <h1>ID</h1>
        </th>
        <th>
          <h1>Nombre del personaje</h1>
        </th>
        <th>
          <h1>Estado</h1>
        </th>
        <th>
          <h1>Especie</h1>
        </th>
        <th>
          <h1>Tipo</h1>
        </th>
        <th>
          <h1>Genero</h1>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters">
        <td>{{ character.id }}</td>
        <td>{{ character.name }}</td>
        <td>{{ character.status }}</td>
        <td>{{ character.species }}</td>
        <td>{{ character.type }}</td>
        <td>{{ character.gender }}</td>
      </tr>
    </tbody>
  </table>
<br>
<br>
<br>